<div class="author">
    <h1 class="author__heading">About - My Blog</h1>
</div>
<h1 class="articles__heading">About</h1>
<p>Welcome to my blog! Here, I share my thoughts and insights on various topics.</p>
<p>Feel free to explore the articles and leave comments. I hope you find the content interesting and valuable.</p>
<h2  class="articles__heading">About the Author</h2>
<p>Hi, I'm Dinesh , the author of this blog. I have a passion for writing and sharing my knowledge with others.I enjoy covering a wide range of subjects, including technology, science, and personal development.</p>
<p>If you have any questions or feedback, don't hesitate to get in touch with me. You can reach me at dineshharidhs@gmail.com</p>

