<div class="author">
    <h1 class="author__heading">About - HackHub-Blog </h1>
</div>
<h1 class="articles__heading">About</h1>
<p>Welcome to HackHub Blog! Here, you'll find insightful articles covering various topics, including technology updates and upcoming hackathon lineups.</p>
<p>Feel free to explore the content and engage by leaving comments. I aim to provide valuable information that sparks curiosity and learning.</p>
<h2 class="articles__heading">About the Author</h2>
<p>Hi, I'm Dinesh, the author behind HackHub Blog. With a passion for writing and sharing knowledge, I cover a wide range of subjects, including technology, science, and personal development.</p>
<p>If you have any questions or feedback, feel free to reach out to me at dineshharidhs@gmail.com.</p>

